<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>  </title>
<link rel="stylesheet" type="text/css" href="../css/style.css">
<script language="javascript" src="helper.js"></script>
</head>
<body style="margin:0; overflow:hidden" background="../../images/icon/errorwin_bg.jpg">
  <table width="100%" height="153" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="110" rowspan="2" align="center"><img id="imgD" src="../../images/icon/icon_pop_prompt_zh_cn.gif"></td>
      <td height="120" align="center" valign="middle">
      <table><tr><td id="contentD" align="center" valign="middle" style="word-break:break-all">&nbsp;</td></tr></table>
      <div id="clickD" style="display:none;color:#666666;"><span id="click_id">点击</span> <A href="#" onclick="detailClick()"><font color="#ff0000"id="this_id">此处</font></a><span id="addonS">查看详细信息</span></div>
      <div id="contentDetailD" style="display:none;height:110; overflow-y:auto;"></div>    </td>
    </tr>
    <tr>
	<td height="30" align="center">
      <input type="submit" name="btn1" id="btn1" class="button_img" style="width:50" value="确定"  onClick="submitOK()">
      <span id="cancelS" style="display:none"><input type="button" name="btn2" id="btn2" class="button" value="取消"  onClick="window.close()"></span></td>
    </tr>
</table>
</div>

</body>
</html>
<script language="javascript" src="i18N.js"></script>
<script language="javascript">
<!--

var paramObj = window.dialogArguments;

switch(paramObj.type){
  case 1:
    document.title = Gi18n.error;
    document.all.imgD.src="../../images/icon/icon_pop_error_"+gLangCode+".gif";
    break;
  case 2:
    document.title = Gi18n.alarm;
    document.all.imgD.src="../../images/icon/icon_pop_alarm_"+gLangCode+".gif";
    break;
  case 3:
    document.title = Gi18n.prompt;
    document.all.imgD.src="../../images/icon/icon_pop_prompt_"+gLangCode+".gif";
    break;
  case 4:
    document.title = Gi18n.success;
    document.all.imgD.src="../../images/icon/icon_pop_success_"+gLangCode+".gif";
    break;
}
if(paramObj.title) document.title = paramObj.title;
document.all.contentD.innerText = paramObj.content;
if(paramObj.contentDetail){
  document.all.contentD.parentElement.parentElement.parentElement.height="75%";
  document.all.clickD.style.display = "";
  document.all.contentDetailD.innerHTML = paramObj.contentDetail;
}
if(paramObj.isReturn) document.all.cancelS.style.display = "";
//////////////////////////////////////////////////////////////////////////
function submitOK(){
  if(paramObj.isReturn)
    window.returnValue = true;
  window.close();
}
function detailClick(){
  if(document.all.contentDetailD.style.display==""){
     document.all.addonS.innerText = Gi18n.viewDetail;
     document.all.contentDetailD.style.display="none";
     document.all.contentD.style.display="";
  }else{
     document.all.addonS.innerText = Gi18n.returnVal;
     document.all.contentDetailD.style.display="";
     document.all.contentD.style.display="none";
  }

}

//-->
</script>