
<p>Line Generated Table</p>
<TABLE bordercolor=red border=1 cellpadding=0 cellspacing=0 style='border-collapse: collapse'> 
<TR> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
</TR> 
<TR> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
 <TD width="200" height="200" colspan="2" rowspan="2">a</TD> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
</TR> 
<TR> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
</TR> 
<TR> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
</TR> 
</TABLE>
<p>Line Generated Table</p>
<TABLE bordercolor=red border=1 cellpadding=0 cellspacing=0 style='border-collapse: collapse'> 
<TR> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
 <TD width="200" height="100" colspan="2" rowspan="1">a</TD> 
</TR> 
<TR> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
 <TD width="100" height="200" colspan="1" rowspan="2">a</TD> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
</TR> 
<TR> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
 <TD width="100" height="200" colspan="1" rowspan="2">a</TD> 
</TR> 
<TR> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
 <TD width="100" height="100" colspan="1" rowspan="1">a</TD> 
</TR> 
</TABLE>
