<html>
	<head>
		<title></title>
		<link id="css" rel="stylesheet" type="text/css">
			<meta id="meta" http-equiv="Content-Type">
			<script id="errorConst" language="javascript"></script>
			<script language="javascript">
			var a=window.dialogArguments;
			var language="zh-CN";
			if (a!=null)
			{
				document.title = a.title+document.title;
				language=a.language;
				document.all("errorConst").src="../const/"+language+"/const_error_handle.js";
				document.all("css").href="../style/"+language+"/BSN.css";
				document.all("meta").content="text/html;charset="+a.charset;
			}				

			function init()
			{
				document.all("btnOK1").value=BUTTON_OK_VALUE;
				document.all("btnCancel").value=BUTTON_CANCEL_VALUE;
				btnOK1.focus();
				//errorLabel.innerText = "\n"+a.content_name;
				
			}
			
			function onCancel()
			{
				window.close();
			}
			
			function onOk()
			{
				window.returnValue = "1";
				window.close();
			}
			</script>
</head>
<body onload="init();" class="bg_pop" scroll="no">
<table width="100%" height="100%"  border="0" cellpadding="0" cellspacing="10">
  <tr>
    <td width="30%" align="center"><img src="../images/icon_pop_prompt.gif" width="34" height="34" id="IMG1"></td>
    <td><iframe src="Common_frame.html" width="100%" height="100%" frameborder=0 allowTransparency="true" style="background-color:transparent"></iframe></td>
  </tr>
  <tr>
    <td colspan="2" align="right" height="30"><input type="button" ID="btnOK1" onclick="onOk()" NAME="btnOK1" class="button_pop"> <input type="button" ID="btnCancel" onclick="onCancel()" NAME="btnCancel" class="button_pop"></td>
  </tr>
</table>
</body>
</html>
