.tab_bsn{
behavior:url("Tabstrip.htc");
skinPath:images/org/;
maxtabHeight:22;
mintabHeight:19;
fontColor:#000000;
fontColorOver:#000000;
fontColorSelect:#000000;
lightShadow:#FCFCFC;
midShadow:#D3D3D3;
pageBorder:#80A8F7;
lightColor:#F5F8FE;
darkColor:#F5F8FE;
}
.tab_blue{
  behavior:url("Tabstrip.htc");
  skinPath:images/blue/;
  maxtabHeight:21;
  mintabHeight:19;
  fontColor:#000000;
  fontColorOver:#000099;
  fontColorSelect:#999999;
  lightShadow:#fcfcfe;
  midShadow:#d0cebf;
  pageBorder:#919b9c;
  lightColor:#fcfcfe;
  darkColor:#f4f3ee;
}

.tab_mac{
  behavior:url("Tabstrip.htc");
  skinPath:images/mac/;
  maxtabHeight:21;
  mintabHeight:19;
  fontColor:#000000;
  fontColorOver:#ffffff;
  fontColorSelect:#000000;
  lightShadow:#fcfcfe;
  midShadow:#d0cebf;
  pageBorder:#919b9c;
  lightColor:#fcfcfe;
  darkColor:#f4f3ee;
}