<html xmlns:ZTESOFT>
<HEAD>
  <TITLE>校验测试</TITLE>
<link rel="stylesheet" type="text/css" href="../css/style.css">
<script language="javascript" src="helper.js"></script>
<script language="javascript" src="FormExt.js"></script>
</HEAD>
<BODY>
<br>

<table width="500" border="0" cellspacing="1" cellpadding="2" bgcolor="#CCCCCC">
<form name="form1" onSubmit="return validateForm()">
  <tr>
    <td height="1" colspan="4" class="td_blue_line"><img src="images/shim.gif" width="1" height="1"></td>
  </tr>
  <tr>
    <td width="80" class="td_blue_txt">字段1</td>
    <td class="td_grey"><input type="text" name="NAME" checkType="empty" value="aaa" focused="false"> 空</td>
  </tr>
  <tr>
    <td class="td_blue_txt">字段2</td>
    <td class="td_grey"><input type="text" name="text2" checkType="number" value="123"> 数字</td>
  </tr>

  <tr>
    <td class="td_blue_txt">字段3</td>
    <td class="td_grey"><input type="text" name="text3" checkType="email" value="w@w.com" focused="false" checkMsg="输入必须为Email格式"> email</td>
  </tr>
  <tr>
    <td class="td_blue_txt">字段4</td>
    <td class="td_grey"><input name="text4" type="text" value="" size="30" checktype="length"> 长度</td>
  </tr>
  <tr>
    <td class="td_blue_txt">字段5</td>
    <td class="td_grey"><input type="hidden" name="hidden1">&nbsp;</td>
  </tr>
  <tr>
    <td class="td_blue_txt">字段6</td>
    <td class="td_grey"><input name="password1" type="password" id="password1"></td>
  </tr>
  <tr>
    <td class="td_blue_txt">字段7</td>
    <td class="td_grey"><textarea name="textarea1" checkType="length" maxLength="10"></textarea>空，长度</td>
  </tr>
  <tr>
    <td class="td_blue_txt">字段8</td>
    <td class="td_grey">
    <input type="checkbox" class="checkbox" name="checkbox1" value="1" checkType="checkbox" focused="false"> 1
    <input type="checkbox" class="checkbox" name="checkbox1" value="2"> 2
    <input type="checkbox" class="checkbox" name="checkbox1" value="3"> 3
  检测是否选中，返回集合，标识第1个</td>
  </tr>
  <tr>
    <td class="td_blue_txt">字段9</td>
    <td class="td_grey">
    <input type="radio" class="checkbox" name="Radio1" value="4" checkType="checkbox">
    <label for="Radio1">4</label>
    <input type="radio" class="checkbox" name="Radio1" value="5">
    <label for="Radio1">5</label>
    <input type="radio" class="checkbox" name="Radio1" value="6">
    <label for="Radio1">6</label>
  检测是否选中，标识第1个  </td>
  </tr>
  <tr>
    <td class="td_blue_txt">字段10</td>
    <td class="td_grey">
    	<select name="select1" checkType="select" class="select_htc">
      <option value="">请选择</option>
      </select>
  检测选择是否有效，默认是空字符，可以设置</td>
  </tr>
  <tr>
    <td class="td_blue_txt">字段11</td>
    <td class="td_grey"> <input type="file" name="file1" readonly>空</td>
  </tr>

  <tr>
    <td class="td_blue_txt">日期12</td>
    <td class="td_grey"><ZTESOFT:dateTimeText name="dtTxt1" class="datetimetext" checkType="empty" useDate="true" width="160" /></td>
  </tr>
  <tr>
    <td class="td_blue_txt">时间12</td>
    <td class="td_grey"><ZTESOFT:dateTimeText name="dtTxt2" class="datetimetext" useDate="true" useTime="true" /></td>
  </tr>
  <tr>
    <td class="td_blue_txt">字段13</td>
    <td class="td_grey">
        <input name="txtArrayName" type="text" value="">
        <input type="button" name="bbtn1" value="选择" onclick="selInputArr()">
        <input name="txtArrayId" type="hidden" class="input_array" value="1,2,4">
        inputArray类型
    </td>
  </tr>


  <tr>
    <td class="td_blue_txt">&nbsp;</td>
    <td class="td_grey">
    <input type="button" name="Submit1" class="button_img" value="确定" onclick="fext.createDto()">
    <input type="reset" name="Submit2" class="button_img" value="重置">
  </td>
  </tr>
  <tr>
    <td class="td_blue_txt">测试按钮</td>
    <td class="td_grey">
  <input type="button" class="button" value="设置object" onclick="fext.loadEditData()">
  <input name="button" type="button" class="button" onclick="fext.loadEditData()" value="导入select内容">  <!--
      <input type="button" value="" onclick="">
    -->
    </td>
  </tr>
  <tr>
    <td class="td_blue_txt">&nbsp;</td>
    <td class="td_grey">&nbsp;</td>
  </tr>
  <tr>
    <td class="td_blue_txt">&nbsp;</td>
    <td class="td_grey"><table width="100%" border="1" cellspacing="0">
      <tr>
        <td width="100"> <select name="list1" size="5" multiple> <option value="21">21a</option> <option value="22">22a</option> <option value="23">23a</option> </select> </td>
        <td width="50"> <input type="button" class="button" name="but2" value="&gt;" onclick="fext.srcMove()"> <br>
            <input type="button" name="but1" class="button" value="&lt;" onclick="fext.destDel()"></td>
        <td width="100"> <select name="list2" size="5" multiple> <option value="25">25a</option> </select> </td>
      </tr>
    </table>
  插入数据到控件，数据插入删除，重复判断 ，多选时候也要判断  </td>
  </tr>
  <tr>
    <td height="1" colspan="4" class="td_blue_line"><img src="images/shim.gif" width="1" height="1"></td>
  </tr>
    </form>
</table>
<br>

</BODY>
</HTML>
<script language="JavaScript" type="text/JavaScript">
<!--
//
var fext = new Form1Opration();

//初始化选择
fext.addSelect1Sel();

////////////////////////////////////////////////////////////////////
//form操作 Class
function Form1Opration(){
  _extends(this, FormExt, '"form1"');

  this.createDto = function(){
    //校验
    //if(this.validator()) return;
    
    //var obj1 = new Object();
    //obj1.name =  document.all.text1.value;
    //alert("校验成功");
    //var dto1 = new Object();
    //var nameArr = new Array("name","text2","text3");
    var txt1 = this.getValue(this.form.dtTxt2);
    //var txt1 = this.getValue(this.item("dtTxt2"));
    //alert(txt1);

    //var dto1 = this.formToObject(nameArr);
    
    //var dto1 = this.formToObject();
    
    //alert(this.objectToString(dto1));

  }
  /* edit */
  this.loadEditData =  function(){
     //var recObj =call;
     var nameArr = new Array("name","text2","text3","aaa");
     this.objectToForm(gdto1,nameArr);
     //document.all.text1.value = recObj.text1;
     //this.setValue(this.form.select1, 12);
     
     //this.objectToForm(gdto1);

  }
	//取出所有的
	this.srcMove = function(){
    this.selOptionMultiMove(this.form.list1, this.form.list2);
	}
	//删除
	this.destDel = function(){
    this.selOptionDel(this.form.list2);
	}
	//给select1增加数据
	this.addSelect1Sel = function(){
		var arr = new Array();
		arr[0] = new Object();
		arr[0].oid = 11;
		arr[0].oname = "a11";
		
		arr[1] = new Object();		
		arr[1].oid = 12;
		arr[1].oname = "a12";
		
		arr[2] = new Object();
		arr[2].oid = 13;
		arr[2].oname = "a13";
		
    this.selOptionAddAll(this.form.select1, arr, "oname", "oid");
	}

}

//var fext = new FormExt("form1");

/////////////////////////////////////////////////////////////////////////////////////////////////
function selInputArr(){
	var recObj = OpenShowDlg("showDlg.htm",300,300);
	alert(recObj.constructor);
	
	fext.setValue(fext.form.txtArrayName, recObj.aa1);
	//fext.setValue(fext.form.txtArrayName, (recObj.dd).valueOf());
	
	
	/*
	alert(recObj.cc.constructor);
	return;
	if(recObj.aa1.constructor){
		alert(recObj.aa1);
		alert(recObj.dd);
	}
	*/
  
  
  //SelCommPop("txtArray", 1, "新", "<items><item name='名称1' id='1'></item></items>");
}


//全局对象
  var gdto1 = new Object();
  //

    gdto1.text1 = "www";
    gdto1.text2 = 123;
    gdto1.text3 = "lmh@163.com";
    gdto1.text4 = "eee";
    gdto1.hidden1 = "hhh";
    gdto1.password1 = "ppp";
    gdto1.textarea1 = "ttt";
    gdto1.checkbox1 = new Array(1,3);
    gdto1.Radio1 = 6;
    gdto1.select1 = "12";
    gdto1.file1 = "c1.htm";
    //
    gdto1.dtTxt1 = new Date();
    gdto1.dtTxt2 = new Date();

    gdto1.txtArrayName = new Array("软","创");
    gdto1.txtArrayId = new Array(5,6);
///////////////////////////////////////////////////////////////////////////////////////////

//
/*
.loadEditData(obj);
.submit();
//formObject
var obj1 = new Object();
 obj1.condition="1==1"
 obj1.editMethod="null"
 obj1.addMethod="formObject"
*/

//-->
</script>