<html xmlns:ZTESOFT>
<HEAD>
  <TITLE>校验测试</TITLE>
<link rel="stylesheet" type="text/css" href="../css/style.css">
<script language="javascript" src="helper.js"></script>
<script language="javascript" src="FormExt.js"></script>
<?IMPORT NAMESPACE="ZTESOFT" IMPLEMENTATION="../htc/TreeList/TreeList.htc" />
</HEAD>
<BODY>
<script language="javascript" src="/public/script/topTitleJs.js"></script>
<div>
  <ZTESOFT:treelist id="tlDemo" class="treelist" width="100%" height="200" onItemClick="tl2.click()" onDivContextMenu="menu2.popMenu()" onItemContextMenu="menu2.popMenu()">
    <ZTESOFT:columns>
      <ZTESOFT:column width="20%" display="true" displayText="名称" propertyName="text1"  />
      <ZTESOFT:column width="30%" display="true" displayText="年龄" propertyName="select1" />
			<ZTESOFT:column width="10%" display="true" displayText="性别" propertyName="sex1" />
      <ZTESOFT:column width="50%" display="true" displayText="日期" propertyName="date1" displayTip="true" />
    	<ZTESOFT:column display="false" displayText="id" propertyName="id1" />
    </ZTESOFT:columns>
  </ZTESOFT:treelist>
</div>
<br>
<br>

<table width="500" border="0" cellspacing="1" cellpadding="2">
<form name="form1" onSubmit="return false;">
  <tr>
    <td height="1" colspan="4" class="td_blue_line"><img src="images/shim.gif" width="1" height="1"></td>
  </tr>
  <tr>
    <td width="80" class="td_blue_txt">名称</td>
    <td class="td_grey">
  	<input type="text" name="text1" checkType="empty">
    <input name="id1" type="hidden" value="0">
  </td>
  </tr>
  
  <tr>
    <td width="80" class="td_blue_txt">性别</td>
    <td class="td_grey">
  	<input type="text" name="sex1" checkType="empty">
  </td>
  </tr>
  <tr>
    <td width="80" class="td_blue_txt">年龄</td>
    <td class="td_grey">
    <select name="select1" checkType="select" class="select_htc">
      <option value="">请选择</option>
      <option value="12">12a</option>
      <option value="24">24a</option>
      <option value="36">36a</option>
    </select>
  </td>
  </tr>
  <tr>
    <td width="80" class="td_blue_txt">日期</td>
    <td class="td_grey">
     <ZTESOFT:dateTimeText name="date1" class="datetimetext" checkType="empty" useDate="true" sysDate="true" width="160" />
  </td>
  </tr>
  <tr align="center">
    <td colspan="2">
     <input type="submit" name="btn1" class="button_img" value="提交" onclick="tl2.submit()" disabled>
     <input type="reset" name="btn2" class="button_img" value="重置">
  </td>
  </tr>
  </form>
</table>

<br>

</BODY>
</HTML>
<script language="javascript">
<!--

    var g_recArr = new Array();
    	//
      g_recArr[0] = new Object();
      g_recArr[0].id1 = 1;
      g_recArr[0].text1 = "名字1";
      g_recArr[0].select1 = 12;
      g_recArr[0].date1  = new Date();
      //
      g_recArr[1] = new Object();
      g_recArr[1].id1 = 2;
      g_recArr[1].text1 = null;
      g_recArr[1].select1 = 24;
      g_recArr[1].date1  = new Date();

//-->
</script>

<script language="JavaScript" type="text/JavaScript">
<!--
//////////////////////////////////////////
// ZTESoft corp. 2005- -
// Author :
// commits:
//////////////////////////////////////////
/* 全局变量 */
_import("public.script.ContextMenu");
_import("public.script.TreeListExt");

var menu2 = new ContextMenu("prodM", 110);
//treelist实例
var tl2 = new tlOperate();

/* 初始化 */

tl2.initMenu();       //初始化菜单
tl2.loadData();       //初始载入数据

//////////////////////////////////////////
//Class类区
//treelist类 Class
function tlOperate(){
  _extends(this, TreeListExt, '"tlDemo", "form1", "btn1"');

  this.click = function(){
    var selItem = this.treelist.selectedItem;
    this.setInputData(selItem.getColumnData());
    alert(selItem.text1);
    this.setButtonData();
  }

  /* 载入数据 */
  this.loadData = function(){
    //var recArr = callRemoteFunctionNoTrans("","");
    var recArr = g_recArr;
    //alert(this.objectToString(recArr[0]));
    this.treelist.loadByData(recArr);
  }

  /* 菜单 */
  this.execMenuFunc = function(pMark){
    var selItem = this.treelist.selectedItem;
    switch(pMark){
      case 0:    //新建
        this.reset();
        this.setButtonData(true,"新增");
        break;
      case 1:    //编辑
        this.setButtonData(true,"编辑");
        break;
      case 2:    //删除
        if(!selItem) return false;
        if(window.confirm("确实要删除吗？")){
          selItem.remove();
          //callRemoteFunction
          //this.reset();
          this.setButtonData();
          alert("删除成功！");
        }
        break;
    }
    menu2.hide();
  }
  
  /* 设置节点值 */
  this.nodeOperate = function(pObj){
    var _nd ;
    if(parseInt(pObj.id1,10)>0){
      //pObj = callRemoteFunction("","",pObj);
      _nd = this.treelist.selectedItem;
      _nd.clone(pObj);
      _nd.refresh();
      alert("修改完成");
    }else{
      //pObj = callRemoteFunction("","",pObj);
      _nd = this.treelist.createTreeNode();
      _nd.clone(pObj);
      this.treelist.add(_nd);
      alert("新增成功");
    }
    _nd.setSelected();
    //
    //this.reset();
    this.setButtonData();
  }

  /* 初始化菜单 */
	this.initMenu = function(){
	  menu2.addItem("新增","tl2.execMenuFunc(0)",null,"新增产品");
	  menu2.addItem("编辑","tl2.execMenuFunc(1)");
	  menu2.addItem("删除","tl2.execMenuFunc(2)");
	  menu2.addItem("SEPERATOR");
	  menu2.addItem("查询数据","tl2.execMenuFunc(3)");
	  menu2.create();
	}
}
//////////////////////////////////////////
//function函数区


//-->
</script>