
<ul>
  <li>
  class name: <input type="text" value="A">

  
  <ul>
  
  <li>
  class name: <input type="text" value="A1">

  
  <ul>
  
  <li>
  class name: <input type="text" value="A1-1">

  
  </li>
  <li>
  class name: <input type="text" value="A1-2">

  
  </li>
  </ul>
  
  </li>
  </ul>
  
  </li>
  <li>
  class name: <input type="text" value="B">

  
  <ul>
  
  <li>
  class name: <input type="text" value="B1">

  
  </li>
  </ul>
  
  </li>
  <li>
  class name: <input type="text" value="C">

  
  </li>

</ul>

