<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<context:annotation-config />
	<bean id="theDatasource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/ssh" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
		<property name="initialSize" value="2" />
		<property name="maxActive" value="100" />
		<property name="maxIdle" value="2" />
		<property name="minIdle" value="1" />
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	
		<property name="mappingResources">
			<list>
				<value>com/asm/entity/User.hbm.xml</value>
			</list>
		</property>
			<property name="dataSource" ref="theDatasource" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.hbm2ddl.auto=update hibernate.show_sql=true
				hibernate.format_sql=true
				<!-- 使用hibernate的二级缓存 -->
				􀀗􀀔􀁯􀀓hibernate.cache.use_second_level_cache=true
				hibernate.cache.use_query_cache=false
				hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
			</value>
		</property>
		<!--如果想加载hibernate.cfg.xml文件，可以使用下面的配置。 
		 <property name="configLocation" value="hibernate.cfg.xml"></property>
		 -->
	</bean>

	<bean id="userServiceBean"
		class="com.asm.service.impl.UserServiceBean" />
	<bean name="/list" class="com.asm.action.UserAction" />

</beans>