<script>

System = {
	processException : function(e){
		switch (typeof(e)){
			case "string":{
				if (e!="abort"){
					if (e)
						alert(e);
					else
						alert(Const.ErrUnknown);
				}
				break;
			}
	
			case "object":{
				alert(e.description+"\n"+Const.ErrType+":"+(e.number & 0xFFFF));
				break;
			}
		}
	},
	trimStr : function(str){
		str=System.getValidStr(str);
		if (!str) return "";
		for(var i=str.length-1; i>=0; i--){
			if (str.charCodeAt(i, 10)!=32) break;
		}
		return str.substr(0, i+1);
	},
	getValidStr : function(str) {
		return str;
	},	
	encode : function(strIn)
	{
		var intLen=strIn.length;
		var strOut="";
		var strTemp;
	
		for(var i=0; i<intLen; i++)
		{
			strTemp=strIn.charCodeAt(i);
			if (strTemp>255)
			{
				tmp = strTemp.toString(16);
				for(var j=tmp.length; j<4; j++) tmp = "0"+tmp;
				strOut = strOut+"^"+tmp;
			}
			else
			{
				if (strTemp < 48 || (strTemp > 57 && strTemp < 65) || (strTemp > 90 && strTemp < 97) || strTemp > 122)
				{
					tmp = strTemp.toString(16);
					for(var j=tmp.length; j<2; j++) tmp = "0"+tmp;
					strOut = strOut+"~"+tmp;
				}
				else
				{
					strOut=strOut+strIn.charAt(i);
				}
			}
		}
		return (strOut);
	},
	decode : function(strIn)
	{
		var intLen = strIn.length;
		var strOut = "";
		var strTemp;
	
		for(var i=0; i<intLen; i++)
		{
			strTemp = strIn.charAt(i);
			switch (strTemp)
			{
				case "~":{
					strTemp = strIn.substring(i+1, i+3);
					strTemp = parseInt(strTemp, 16);
					strTemp = String.fromCharCode(strTemp);
					strOut = strOut+strTemp;
					i += 2;
					break;
				}
				case "^":{
					strTemp = strIn.substring(i+1, i+5);
					strTemp = parseInt(strTemp,16);
					strTemp = String.fromCharCode(strTemp);
					strOut = strOut+strTemp;
					i += 4;
					break;
				}
				default:{
					strOut = strOut+strTemp;
					break;
				}
			}
	
		}
		return (strOut);
	},	
	getEncodeStr : function(str) {
		return System.encode(System.getValidStr(str));
	},
	
	getDecodeStr : function(str) {
		return System.decode(System.getValidStr(str));
	},

	compareText : function(str1, str2){
	    return (str1==str2);
	},
	
	isTrue : function(value){
	    return (value==true || value=="true" || (typeof(value)=="number" && value!=0));
	},
	
	getInt : function(value){
		var result=parseInt(value);
		if (isNaN(result)) result=0;
		return result;
	}
}
</script>
<script>
  function translate(){
    document.getElementById("target").value = System.decode(document.getElementById("source").value);
  }
</script>
<textarea id="source" style="width:300px;height:200px;">
</textarea>
<button onclick="translate();">translate</button>
<textarea id="target" style="width:300px;height:200px;">
</textarea>