#south {
	
}
#banner {
	BACKGROUND: url(../images2/banner_bg.png) repeat-x; OVERFLOW: hidden; HEIGHT: 50px
}
#navbar {
	BACKGROUND: url(../images2/menu_bg.png) repeat-x; OVERFLOW: hidden; LINE-HEIGHT: normal; POSITION: relative; HEIGHT: 31px
}
#navbar #navbar-left {
	FLOAT: left; WIDTH: 80px
}
#navbar-left A {
	CURSOR: hand
}
#navbar-center {
	FLOAT: left
}
#navbar-right {
	FLOAT: right; WIDTH: 230px
}
#center {
	OVERFLOW: hidden
}
#message {
	HEIGHT: 30px; BACKGROUND-COLOR: #ccc
}
#menu-left {
	DISPLAY: none; FLOAT: left; WIDTH: 350px
}
#page-center {
	FLOAT: left
}
#menu-right {
	DISPLAY: none; FLOAT: right; WIDTH: 350px
}
#sysbar {
	FLOAT: left
}
#sysbar #sysbar-useicos {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images2/sys_setup_bg.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 5px 0px 0px 20px; WIDTH: 147px; PADDING-TOP: 3px; HEIGHT: 21px
}
#sysbar #sysbar-useicos .sysbar-useicos-setup {
	MARGIN: 0px 10px
}
#sysbar #sysbar-useicos .sysbar-useicos-cutover {
	MARGIN: 0px 15px 0px 3px
}
#sysbar #sysbar-useicos .sysbar-useicos-help {
	MARGIN: 0px 15px 0px 3px
}
#sysbar #sysbar-useicos .sysbar-useicos-out {
	MARGIN: 0px 0px 15px
}
#sysbar A {
	MARGIN: 8px 4px; VERTICAL-ALIGN: middle; WIDTH: 20px; HEIGHT: 20px
}
#sysbar A.sys-hide {
	DISPLAY: inline-block; BACKGROUND: url(../images2/menu_bg_right.png) no-repeat; MARGIN: 0px; WIDTH: 40px; HEIGHT: 30px
}
.banner-dwon {
	BACKGROUND: url(../images/down.png) no-repeat
}
#startmenupanel {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; DISPLAY: none; Z-INDEX: 10000; MIN-HEIGHT: 200px; BORDER-LEFT: #999 1px solid; WIDTH: 350px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 400px; BACKGROUND-COLOR: #f2f2f2
}
#startmenupanel_overlay {
	DISPLAY: none; Z-INDEX: 9999; FILTER: alpha(apacity=1); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; opacity: 0.01; moz-opacity: 0.01
}
.footer {
	BACKGROUND: url(../images2/foot_bg.png) repeat-x; OVERFLOW: hidden; HEIGHT: 25px
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; OVERFLOW: hidden; HEIGHT: 1px
}
#menu-title {
	POSITION: relative; HEIGHT: 32px
}
#menu-tabs {
	FLOAT: left; WIDTH: 200px; HEIGHT: 32px
}
#menu-tabs UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menu-tabs LI {
	DISPLAY: inline
}
#menu-tabs A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 1px; CURSOR: hand; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#menu-tabs A SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 7px; COLOR: #24618e; PADDING-TOP: 7px
}
#menu-tabs-addbtn {
	WIDTH: 16px; POSITION: absolute; TOP: 6px; HEIGHT: 16px
}
#menu-tabs-addbtn A.menu-tabs-addbtn {
	BACKGROUND: url(../images2/add.png) no-repeat
}
#menu-btns {
	FLOAT: right; TEXT-ALIGN: right
}
#menu-btns A {
	DISPLAY: inline-block; MARGIN: 6px 4px; WIDTH: 16px; HEIGHT: 16px
}
#menu-btns A.menu-switch {
	BACKGROUND: url(../images/toright.png) no-repeat
}
#menu-btns A.menu-switch-right {
	BACKGROUND: url(../images/toleft.png) no-repeat
}
#menu-btns A.menu-lock {
	BACKGROUND: url(../images/unlock.png) no-repeat
}
#menu-btns A.menu-unlock {
	BACKGROUND: url(../images/lock.png) no-repeat
}
#menu-btns A.menu-close {
	BACKGROUND: url(../images/close.png) no-repeat
}
#menu-control {
	BACKGROUND: #ffffcc; HEIGHT: 25px
}
#menu-control #menu-control-search {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 200px; PADDING-TOP: 4px; HEIGHT: 25px
}
#menu-control #menu-control-search INPUT {
	BORDER-RIGHT: #b5b8c8 1px solid; BORDER-TOP: #b5b8c8 1px solid; BACKGROUND: url(../images2/text-bg.gif) #ffffff fixed repeat-x; BORDER-LEFT: #b5b8c8 1px solid; BORDER-BOTTOM: #b5b8c8 1px solid; HEIGHT: 18px
}
#menu-control #menu-control-openup {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px; HEIGHT: 25px
}
#menu-control #menu-control-openup A {
	MARGIN: 0px 10px
}
#navbar-center {
	FONT-SIZE: 95%; OVERFLOW: hidden; LINE-HEIGHT: normal; POSITION: relative; HEIGHT: 27px
}
#navbar-center UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#navbar-center LI {
	DISPLAY: inline; BACKGROUND: url(../images2/grid-blue-split.gif) no-repeat left top
}
#navbar-center A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 1px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#navbar-center A SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 6px; COLOR: #24618e; PADDING-TOP: 8px
}
#navbar-center A SPAN {
	FLOAT: none
}
#navbar-center A:hover SPAN {
	COLOR: #000
}
#navbar-center-setup {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 7px; WIDTH: 150px; LINE-HEIGHT: normal; PADDING-TOP: 7px; POSITION: absolute; HEIGHT: 27px
}
