.layout {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; POSITION: relative
}
.layout-panel {
	OVERFLOW: hidden; POSITION: absolute
}
.layout-panel-east {
	Z-INDEX: 2; background1: #fff
}
.layout-panel-west {
	Z-INDEX: 2; background1: #fff
}
.layout-panel-north {
	Z-INDEX: 3; background1: #fff
}
.layout-panel-south {
	Z-INDEX: 3; background1: #fff
}
.layout-button-up {
	BACKGROUND: url(images/layout_button_up.gif) no-repeat
}
.layout-button-down {
	BACKGROUND: url(images/layout_button_down.gif) no-repeat
}
.layout-button-left {
	BACKGROUND: url(images/layout_button_left.gif) no-repeat
}
.layout-button-right {
	BACKGROUND: url(images/layout_button_right.gif) no-repeat
}
.layout-expand {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; Z-INDEX: 1; BACKGROUND: #efefef; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 0px; POSITION: absolute
}
.layout-expand .panel-header {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px
}
.layout-expand .panel-header .panel-tool {
	TOP: 5px
}
.layout-expand .panel-body {
	OVERFLOW: hidden
}
.layout-expand-over {
	BACKGROUND: #fafafa
}
.layout-body {
	BACKGROUND: #fff; OVERFLOW: auto
}
.layout-split-proxy-h {
	DISPLAY: none; FONT-SIZE: 1px; Z-INDEX: 5; BACKGROUND: #ccc; WIDTH: 5px; CURSOR: e-resize; POSITION: absolute
}
.layout-split-proxy-v {
	DISPLAY: none; FONT-SIZE: 1px; Z-INDEX: 5; BACKGROUND: #ccc; CURSOR: n-resize; POSITION: absolute; HEIGHT: 5px
}
.layout-split-north {
	BORDER-BOTTOM: #efefef 5px solid
}
.layout-split-south {
	BORDER-TOP: #efefef 5px solid
}
.layout-split-east {
	BORDER-LEFT: #efefef 5px solid
}
.layout-split-west {
	BORDER-RIGHT: #efefef 5px solid
}
.layout-mask {
	Z-INDEX: 4; BACKGROUND: #fafafa; FILTER: alpha(opacity=10); POSITION: absolute; opacity: 0.10
}
