.ui-widget {
	FONT-SIZE: 1.1em; FONT-FAMILY: segoe ui, Arial, sans-serif
}
.ui-widget INPUT {
	FONT-SIZE: 1em; FONT-FAMILY: segoe ui, Arial, sans-serif
}
.ui-widget SELECT {
	FONT-SIZE: 1em; FONT-FAMILY: segoe ui, Arial, sans-serif
}
.ui-widget TEXTAREA {
	FONT-SIZE: 1em; FONT-FAMILY: segoe ui, Arial, sans-serif
}
.ui-widget BUTTON {
	FONT-SIZE: 1em; FONT-FAMILY: segoe ui, Arial, sans-serif
}
.ui-widget-content {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BACKGROUND: url(images/ui-bg_highlight-soft_100_f0efea_1x100.png) #f0efea repeat-x 50% top; BORDER-LEFT: #aaaaaa 1px solid; COLOR: #222222; BORDER-BOTTOM: #aaaaaa 1px solid
}
.ui-widget-content A {
	COLOR: #222222
}
.ui-widget-header {
	BORDER-RIGHT: #59584f 1px solid; BORDER-TOP: #59584f 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(images/ui-bg_inset-soft_22_3b3b35_1x100.png) #3b3b35 repeat-x 50% 50%; BORDER-LEFT: #59584f 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #59584f 1px solid
}
.ui-widget-header A {
	COLOR: #ffffff
}
.ui-state-default {
	BORDER-RIGHT: #327e04 1px solid; BORDER-TOP: #327e04 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(images/ui-bg_highlight-soft_25_327E04_1x100.png) #327e04 repeat-x 50% 50%; BORDER-LEFT: #327e04 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #327e04 1px solid; outline: none
}
.ui-widget-content .ui-state-default {
	BORDER-RIGHT: #327e04 1px solid; BORDER-TOP: #327e04 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(images/ui-bg_highlight-soft_25_327E04_1x100.png) #327e04 repeat-x 50% 50%; BORDER-LEFT: #327e04 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #327e04 1px solid; outline: none
}
.ui-state-default A {
	COLOR: #ffffff; TEXT-DECORATION: none; outline: none
}
.ui-state-hover {
	BORDER-RIGHT: #327e04 1px solid; BORDER-TOP: #327e04 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(images/ui-bg_highlight-soft_25_5A9D1A_1x100.png) #5a9d1a repeat-x 50% 50%; BORDER-LEFT: #327e04 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #327e04 1px solid; outline: none
}
.ui-widget-content .ui-state-hover {
	BORDER-RIGHT: #327e04 1px solid; BORDER-TOP: #327e04 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(images/ui-bg_highlight-soft_25_5A9D1A_1x100.png) #5a9d1a repeat-x 50% 50%; BORDER-LEFT: #327e04 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #327e04 1px solid; outline: none
}
.ui-state-focus {
	BORDER-RIGHT: #327e04 1px solid; BORDER-TOP: #327e04 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(images/ui-bg_highlight-soft_25_5A9D1A_1x100.png) #5a9d1a repeat-x 50% 50%; BORDER-LEFT: #327e04 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #327e04 1px solid; outline: none
}
.ui-widget-content .ui-state-focus {
	BORDER-RIGHT: #327e04 1px solid; BORDER-TOP: #327e04 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(images/ui-bg_highlight-soft_25_5A9D1A_1x100.png) #5a9d1a repeat-x 50% 50%; BORDER-LEFT: #327e04 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #327e04 1px solid; outline: none
}
.ui-state-hover A {
	COLOR: #ffffff; TEXT-DECORATION: none; outline: none
}
.ui-state-active {
	BORDER-RIGHT: #c4c5c3 1px solid; BORDER-TOP: #c4c5c3 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(images/ui-bg_diagonals-small_100_f0efea_40x40.png) #f0efea 50% 50%; BORDER-LEFT: #c4c5c3 1px solid; COLOR: #403d38; BORDER-BOTTOM: #c4c5c3 1px solid; outline: none
}
.ui-widget-content .ui-state-active {
	BORDER-RIGHT: #c4c5c3 1px solid; BORDER-TOP: #c4c5c3 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(images/ui-bg_diagonals-small_100_f0efea_40x40.png) #f0efea 50% 50%; BORDER-LEFT: #c4c5c3 1px solid; COLOR: #403d38; BORDER-BOTTOM: #c4c5c3 1px solid; outline: none
}
.ui-state-active A {
	COLOR: #403d38; TEXT-DECORATION: none; outline: none
}
.ui-state-highlight {
	BORDER-RIGHT: #e8e1b5 1px solid; BORDER-TOP: #e8e1b5 1px solid; BACKGROUND: url(images/ui-bg_glass_55_fcf0ba_1x400.png) #fcf0ba repeat-x 50% 50%; BORDER-LEFT: #e8e1b5 1px solid; COLOR: #363636; BORDER-BOTTOM: #e8e1b5 1px solid
}
.ui-widget-content .ui-state-highlight {
	BORDER-RIGHT: #e8e1b5 1px solid; BORDER-TOP: #e8e1b5 1px solid; BACKGROUND: url(images/ui-bg_glass_55_fcf0ba_1x400.png) #fcf0ba repeat-x 50% 50%; BORDER-LEFT: #e8e1b5 1px solid; COLOR: #363636; BORDER-BOTTOM: #e8e1b5 1px solid
}
.ui-state-highlight A {
	COLOR: #363636
}
.ui-widget-content .ui-state-highlight A {
	COLOR: #363636
}
.ui-state-error {
	BORDER-RIGHT: #e3a345 1px solid; BORDER-TOP: #e3a345 1px solid; BACKGROUND: url(images/ui-bg_highlight-soft_95_ffedad_1x100.png) #ffedad repeat-x 50% top; BORDER-LEFT: #e3a345 1px solid; COLOR: #cd5c0a; BORDER-BOTTOM: #e3a345 1px solid
}
.ui-widget-content .ui-state-error {
	BORDER-RIGHT: #e3a345 1px solid; BORDER-TOP: #e3a345 1px solid; BACKGROUND: url(images/ui-bg_highlight-soft_95_ffedad_1x100.png) #ffedad repeat-x 50% top; BORDER-LEFT: #e3a345 1px solid; COLOR: #cd5c0a; BORDER-BOTTOM: #e3a345 1px solid
}
.ui-state-error A {
	COLOR: #cd5c0a
}
.ui-widget-content .ui-state-error A {
	COLOR: #cd5c0a
}
.ui-state-error-text {
	COLOR: #cd5c0a
}
.ui-widget-content .ui-state-error-text {
	COLOR: #cd5c0a
}
.ui-state-disabled {
	FILTER: Alpha(Opacity = 35); BACKGROUND-IMAGE: none; opacity: .35
}
.ui-widget-content .ui-state-disabled {
	FILTER: Alpha(Opacity = 35); BACKGROUND-IMAGE: none; opacity: .35
}
.ui-priority-primary {
	FONT-WEIGHT: bold
}
.ui-widget-content .ui-priority-primary {
	FONT-WEIGHT: bold
}
.ui-priority-secondary {
	FONT-WEIGHT: normal; FILTER: Alpha(Opacity = 70); opacity: .7
}
.ui-widget-content .ui-priority-secondary {
	FONT-WEIGHT: normal; FILTER: Alpha(Opacity = 70); opacity: .7
}
.ui-icon {
	BACKGROUND-IMAGE: url(images/ui-icons_808080_256x240.png); WIDTH: 16px; HEIGHT: 16px
}
.ui-widget-content .ui-icon {
	BACKGROUND-IMAGE: url(images/ui-icons_808080_256x240.png)
}
.ui-widget-header .ui-icon {
	BACKGROUND-IMAGE: url(images/ui-icons_e7e6e4_256x240.png)
}
.ui-state-default .ui-icon {
	BACKGROUND-IMAGE: url(images/ui-icons_eeeeee_256x240.png)
}
.ui-state-hover .ui-icon {
	BACKGROUND-IMAGE: url(images/ui-icons_ffffff_256x240.png)
}
.ui-state-focus .ui-icon {
	BACKGROUND-IMAGE: url(images/ui-icons_ffffff_256x240.png)
}
.ui-state-active .ui-icon {
	BACKGROUND-IMAGE: url(images/ui-icons_8DC262_256x240.png)
}
.ui-state-highlight .ui-icon {
	BACKGROUND-IMAGE: url(images/ui-icons_8DC262_256x240.png)
}
.ui-state-error .ui-icon {
	BACKGROUND-IMAGE: url(images/ui-icons_cd0a0a_256x240.png)
}
.ui-state-error-text .ui-icon {
	BACKGROUND-IMAGE: url(images/ui-icons_cd0a0a_256x240.png)
}
.ui-icon-carat-1-n {
	BACKGROUND-POSITION: 0px 0px
}
.ui-icon-carat-1-ne {
	BACKGROUND-POSITION: -16px 0px
}
.ui-icon-carat-1-e {
	BACKGROUND-POSITION: -32px 0px
}
.ui-icon-carat-1-se {
	BACKGROUND-POSITION: -48px 0px
}
.ui-icon-carat-1-s {
	BACKGROUND-POSITION: -64px 0px
}
.ui-icon-carat-1-sw {
	BACKGROUND-POSITION: -80px 0px
}
.ui-icon-carat-1-w {
	BACKGROUND-POSITION: -96px 0px
}
.ui-icon-carat-1-nw {
	BACKGROUND-POSITION: -112px 0px
}
.ui-icon-carat-2-n-s {
	BACKGROUND-POSITION: -128px 0px
}
.ui-icon-carat-2-e-w {
	BACKGROUND-POSITION: -144px 0px
}
.ui-icon-triangle-1-n {
	BACKGROUND-POSITION: 0px -16px
}
.ui-icon-triangle-1-ne {
	BACKGROUND-POSITION: -16px -16px
}
.ui-icon-triangle-1-e {
	BACKGROUND-POSITION: -32px -16px
}
.ui-icon-triangle-1-se {
	BACKGROUND-POSITION: -48px -16px
}
.ui-icon-triangle-1-s {
	BACKGROUND-POSITION: -64px -16px
}
.ui-icon-triangle-1-sw {
	BACKGROUND-POSITION: -80px -16px
}
.ui-icon-triangle-1-w {
	BACKGROUND-POSITION: -96px -16px
}
.ui-icon-triangle-1-nw {
	BACKGROUND-POSITION: -112px -16px
}
.ui-icon-triangle-2-n-s {
	BACKGROUND-POSITION: -128px -16px
}
.ui-icon-triangle-2-e-w {
	BACKGROUND-POSITION: -144px -16px
}
.ui-icon-arrow-1-n {
	BACKGROUND-POSITION: 0px -32px
}
.ui-icon-arrow-1-ne {
	BACKGROUND-POSITION: -16px -32px
}
.ui-icon-arrow-1-e {
	BACKGROUND-POSITION: -32px -32px
}
.ui-icon-arrow-1-se {
	BACKGROUND-POSITION: -48px -32px
}
.ui-icon-arrow-1-s {
	BACKGROUND-POSITION: -64px -32px
}
.ui-icon-arrow-1-sw {
	BACKGROUND-POSITION: -80px -32px
}
.ui-icon-arrow-1-w {
	BACKGROUND-POSITION: -96px -32px
}
.ui-icon-arrow-1-nw {
	BACKGROUND-POSITION: -112px -32px
}
.ui-icon-arrow-2-n-s {
	BACKGROUND-POSITION: -128px -32px
}
.ui-icon-arrow-2-ne-sw {
	BACKGROUND-POSITION: -144px -32px
}
.ui-icon-arrow-2-e-w {
	BACKGROUND-POSITION: -160px -32px
}
.ui-icon-arrow-2-se-nw {
	BACKGROUND-POSITION: -176px -32px
}
.ui-icon-arrowstop-1-n {
	BACKGROUND-POSITION: -192px -32px
}
.ui-icon-arrowstop-1-e {
	BACKGROUND-POSITION: -208px -32px
}
.ui-icon-arrowstop-1-s {
	BACKGROUND-POSITION: -224px -32px
}
.ui-icon-arrowstop-1-w {
	BACKGROUND-POSITION: -240px -32px
}
.ui-icon-arrowthick-1-n {
	BACKGROUND-POSITION: 0px -48px
}
.ui-icon-arrowthick-1-ne {
	BACKGROUND-POSITION: -16px -48px
}
.ui-icon-arrowthick-1-e {
	BACKGROUND-POSITION: -32px -48px
}
.ui-icon-arrowthick-1-se {
	BACKGROUND-POSITION: -48px -48px
}
.ui-icon-arrowthick-1-s {
	BACKGROUND-POSITION: -64px -48px
}
.ui-icon-arrowthick-1-sw {
	BACKGROUND-POSITION: -80px -48px
}
.ui-icon-arrowthick-1-w {
	BACKGROUND-POSITION: -96px -48px
}
.ui-icon-arrowthick-1-nw {
	BACKGROUND-POSITION: -112px -48px
}
.ui-icon-arrowthick-2-n-s {
	BACKGROUND-POSITION: -128px -48px
}
.ui-icon-arrowthick-2-ne-sw {
	BACKGROUND-POSITION: -144px -48px
}
.ui-icon-arrowthick-2-e-w {
	BACKGROUND-POSITION: -160px -48px
}
.ui-icon-arrowthick-2-se-nw {
	BACKGROUND-POSITION: -176px -48px
}
.ui-icon-arrowthickstop-1-n {
	BACKGROUND-POSITION: -192px -48px
}
.ui-icon-arrowthickstop-1-e {
	BACKGROUND-POSITION: -208px -48px
}
.ui-icon-arrowthickstop-1-s {
	BACKGROUND-POSITION: -224px -48px
}
.ui-icon-arrowthickstop-1-w {
	BACKGROUND-POSITION: -240px -48px
}
.ui-icon-arrowreturnthick-1-w {
	BACKGROUND-POSITION: 0px -64px
}
.ui-icon-arrowreturnthick-1-n {
	BACKGROUND-POSITION: -16px -64px
}
.ui-icon-arrowreturnthick-1-e {
	BACKGROUND-POSITION: -32px -64px
}
.ui-icon-arrowreturnthick-1-s {
	BACKGROUND-POSITION: -48px -64px
}
.ui-icon-arrowreturn-1-w {
	BACKGROUND-POSITION: -64px -64px
}
.ui-icon-arrowreturn-1-n {
	BACKGROUND-POSITION: -80px -64px
}
.ui-icon-arrowreturn-1-e {
	BACKGROUND-POSITION: -96px -64px
}
.ui-icon-arrowreturn-1-s {
	BACKGROUND-POSITION: -112px -64px
}
.ui-icon-arrowrefresh-1-w {
	BACKGROUND-POSITION: -128px -64px
}
.ui-icon-arrowrefresh-1-n {
	BACKGROUND-POSITION: -144px -64px
}
.ui-icon-arrowrefresh-1-e {
	BACKGROUND-POSITION: -160px -64px
}
.ui-icon-arrowrefresh-1-s {
	BACKGROUND-POSITION: -176px -64px
}
.ui-icon-arrow-4 {
	BACKGROUND-POSITION: 0px -80px
}
.ui-icon-arrow-4-diag {
	BACKGROUND-POSITION: -16px -80px
}
.ui-icon-extlink {
	BACKGROUND-POSITION: -32px -80px
}
.ui-icon-newwin {
	BACKGROUND-POSITION: -48px -80px
}
.ui-icon-refresh {
	BACKGROUND-POSITION: -64px -80px
}
.ui-icon-shuffle {
	BACKGROUND-POSITION: -80px -80px
}
.ui-icon-transfer-e-w {
	BACKGROUND-POSITION: -96px -80px
}
.ui-icon-transferthick-e-w {
	BACKGROUND-POSITION: -112px -80px
}
.ui-icon-folder-collapsed {
	BACKGROUND-POSITION: 0px -96px
}
.ui-icon-folder-open {
	BACKGROUND-POSITION: -16px -96px
}
.ui-icon-document {
	BACKGROUND-POSITION: -32px -96px
}
.ui-icon-document-b {
	BACKGROUND-POSITION: -48px -96px
}
.ui-icon-note {
	BACKGROUND-POSITION: -64px -96px
}
.ui-icon-mail-closed {
	BACKGROUND-POSITION: -80px -96px
}
.ui-icon-mail-open {
	BACKGROUND-POSITION: -96px -96px
}
.ui-icon-suitcase {
	BACKGROUND-POSITION: -112px -96px
}
.ui-icon-comment {
	BACKGROUND-POSITION: -128px -96px
}
.ui-icon-person {
	BACKGROUND-POSITION: -144px -96px
}
.ui-icon-print {
	BACKGROUND-POSITION: -160px -96px
}
.ui-icon-trash {
	BACKGROUND-POSITION: -176px -96px
}
.ui-icon-locked {
	BACKGROUND-POSITION: -192px -96px
}
.ui-icon-unlocked {
	BACKGROUND-POSITION: -208px -96px
}
.ui-icon-bookmark {
	BACKGROUND-POSITION: -224px -96px
}
.ui-icon-tag {
	BACKGROUND-POSITION: -240px -96px
}
.ui-icon-home {
	BACKGROUND-POSITION: 0px -112px
}
.ui-icon-flag {
	BACKGROUND-POSITION: -16px -112px
}
.ui-icon-calendar {
	BACKGROUND-POSITION: -32px -112px
}
.ui-icon-cart {
	BACKGROUND-POSITION: -48px -112px
}
.ui-icon-pencil {
	BACKGROUND-POSITION: -64px -112px
}
.ui-icon-clock {
	BACKGROUND-POSITION: -80px -112px
}
.ui-icon-disk {
	BACKGROUND-POSITION: -96px -112px
}
.ui-icon-calculator {
	BACKGROUND-POSITION: -112px -112px
}
.ui-icon-zoomin {
	BACKGROUND-POSITION: -128px -112px
}
.ui-icon-zoomout {
	BACKGROUND-POSITION: -144px -112px
}
.ui-icon-search {
	BACKGROUND-POSITION: -160px -112px
}
.ui-icon-wrench {
	BACKGROUND-POSITION: -176px -112px
}
.ui-icon-gear {
	BACKGROUND-POSITION: -192px -112px
}
.ui-icon-heart {
	BACKGROUND-POSITION: -208px -112px
}
.ui-icon-star {
	BACKGROUND-POSITION: -224px -112px
}
.ui-icon-link {
	BACKGROUND-POSITION: -240px -112px
}
.ui-icon-cancel {
	BACKGROUND-POSITION: 0px -128px
}
.ui-icon-plus {
	BACKGROUND-POSITION: -16px -128px
}
.ui-icon-plusthick {
	BACKGROUND-POSITION: -32px -128px
}
.ui-icon-minus {
	BACKGROUND-POSITION: -48px -128px
}
.ui-icon-minusthick {
	BACKGROUND-POSITION: -64px -128px
}
.ui-icon-close {
	BACKGROUND-POSITION: -80px -128px
}
.ui-icon-closethick {
	BACKGROUND-POSITION: -96px -128px
}
.ui-icon-key {
	BACKGROUND-POSITION: -112px -128px
}
.ui-icon-lightbulb {
	BACKGROUND-POSITION: -128px -128px
}
.ui-icon-scissors {
	BACKGROUND-POSITION: -144px -128px
}
.ui-icon-clipboard {
	BACKGROUND-POSITION: -160px -128px
}
.ui-icon-copy {
	BACKGROUND-POSITION: -176px -128px
}
.ui-icon-contact {
	BACKGROUND-POSITION: -192px -128px
}
.ui-icon-image {
	BACKGROUND-POSITION: -208px -128px
}
.ui-icon-video {
	BACKGROUND-POSITION: -224px -128px
}
.ui-icon-script {
	BACKGROUND-POSITION: -240px -128px
}
.ui-icon-alert {
	BACKGROUND-POSITION: 0px -144px
}
.ui-icon-info {
	BACKGROUND-POSITION: -16px -144px
}
.ui-icon-notice {
	BACKGROUND-POSITION: -32px -144px
}
.ui-icon-help {
	BACKGROUND-POSITION: -48px -144px
}
.ui-icon-check {
	BACKGROUND-POSITION: -64px -144px
}
.ui-icon-bullet {
	BACKGROUND-POSITION: -80px -144px
}
.ui-icon-radio-off {
	BACKGROUND-POSITION: -96px -144px
}
.ui-icon-radio-on {
	BACKGROUND-POSITION: -112px -144px
}
.ui-icon-pin-w {
	BACKGROUND-POSITION: -128px -144px
}
.ui-icon-pin-s {
	BACKGROUND-POSITION: -144px -144px
}
.ui-icon-play {
	BACKGROUND-POSITION: 0px -160px
}
.ui-icon-pause {
	BACKGROUND-POSITION: -16px -160px
}
.ui-icon-seek-next {
	BACKGROUND-POSITION: -32px -160px
}
.ui-icon-seek-prev {
	BACKGROUND-POSITION: -48px -160px
}
.ui-icon-seek-end {
	BACKGROUND-POSITION: -64px -160px
}
.ui-icon-seek-first {
	BACKGROUND-POSITION: -80px -160px
}
.ui-icon-stop {
	BACKGROUND-POSITION: -96px -160px
}
.ui-icon-eject {
	BACKGROUND-POSITION: -112px -160px
}
.ui-icon-volume-off {
	BACKGROUND-POSITION: -128px -160px
}
.ui-icon-volume-on {
	BACKGROUND-POSITION: -144px -160px
}
.ui-icon-power {
	BACKGROUND-POSITION: 0px -176px
}
.ui-icon-signal-diag {
	BACKGROUND-POSITION: -16px -176px
}
.ui-icon-signal {
	BACKGROUND-POSITION: -32px -176px
}
.ui-icon-battery-0 {
	BACKGROUND-POSITION: -48px -176px
}
.ui-icon-battery-1 {
	BACKGROUND-POSITION: -64px -176px
}
.ui-icon-battery-2 {
	BACKGROUND-POSITION: -80px -176px
}
.ui-icon-battery-3 {
	BACKGROUND-POSITION: -96px -176px
}
.ui-icon-circle-plus {
	BACKGROUND-POSITION: 0px -192px
}
.ui-icon-circle-minus {
	BACKGROUND-POSITION: -16px -192px
}
.ui-icon-circle-close {
	BACKGROUND-POSITION: -32px -192px
}
.ui-icon-circle-triangle-e {
	BACKGROUND-POSITION: -48px -192px
}
.ui-icon-circle-triangle-s {
	BACKGROUND-POSITION: -64px -192px
}
.ui-icon-circle-triangle-w {
	BACKGROUND-POSITION: -80px -192px
}
.ui-icon-circle-triangle-n {
	BACKGROUND-POSITION: -96px -192px
}
.ui-icon-circle-arrow-e {
	BACKGROUND-POSITION: -112px -192px
}
.ui-icon-circle-arrow-s {
	BACKGROUND-POSITION: -128px -192px
}
.ui-icon-circle-arrow-w {
	BACKGROUND-POSITION: -144px -192px
}
.ui-icon-circle-arrow-n {
	BACKGROUND-POSITION: -160px -192px
}
.ui-icon-circle-zoomin {
	BACKGROUND-POSITION: -176px -192px
}
.ui-icon-circle-zoomout {
	BACKGROUND-POSITION: -192px -192px
}
.ui-icon-circle-check {
	BACKGROUND-POSITION: -208px -192px
}
.ui-icon-circlesmall-plus {
	BACKGROUND-POSITION: 0px -208px
}
.ui-icon-circlesmall-minus {
	BACKGROUND-POSITION: -16px -208px
}
.ui-icon-circlesmall-close {
	BACKGROUND-POSITION: -32px -208px
}
.ui-icon-squaresmall-plus {
	BACKGROUND-POSITION: -48px -208px
}
.ui-icon-squaresmall-minus {
	BACKGROUND-POSITION: -64px -208px
}
.ui-icon-squaresmall-close {
	BACKGROUND-POSITION: -80px -208px
}
.ui-icon-grip-dotted-vertical {
	BACKGROUND-POSITION: 0px -224px
}
.ui-icon-grip-dotted-horizontal {
	BACKGROUND-POSITION: -16px -224px
}
.ui-icon-grip-solid-vertical {
	BACKGROUND-POSITION: -32px -224px
}
.ui-icon-grip-solid-horizontal {
	BACKGROUND-POSITION: -48px -224px
}
.ui-icon-gripsmall-diagonal-se {
	BACKGROUND-POSITION: -64px -224px
}
.ui-icon-grip-diagonal-se {
	BACKGROUND-POSITION: -80px -224px
}
.ui-corner-tl {
	moz-border-radius-topleft: 4px; webkit-border-top-left-radius: 4px
}
.ui-corner-tr {
	moz-border-radius-topright: 4px; webkit-border-top-right-radius: 4px
}
.ui-corner-bl {
	moz-border-radius-bottomleft: 4px; webkit-border-bottom-left-radius: 4px
}
.ui-corner-br {
	moz-border-radius-bottomright: 4px; webkit-border-bottom-right-radius: 4px
}
.ui-corner-top {
	moz-border-radius-topleft: 4px; moz-border-radius-topright: 4px; webkit-border-top-left-radius: 4px; webkit-border-top-right-radius: 4px
}
.ui-corner-bottom {
	moz-border-radius-bottomleft: 4px; webkit-border-bottom-left-radius: 4px; moz-border-radius-bottomright: 4px; webkit-border-bottom-right-radius: 4px
}
.ui-corner-right {
	moz-border-radius-topright: 4px; webkit-border-top-right-radius: 4px; moz-border-radius-bottomright: 4px; webkit-border-bottom-right-radius: 4px
}
.ui-corner-left {
	moz-border-radius-topleft: 4px; webkit-border-top-left-radius: 4px; moz-border-radius-bottomleft: 4px; webkit-border-bottom-left-radius: 4px
}
.ui-corner-all {
	moz-border-radius: 4px; webkit-border-radius: 4px
}
.ui-widget-overlay {
	BACKGROUND: url(images/ui-bg_glow-ball_25_2e2e28_600x600.png) #2e2e28 repeat-x 50% 35%; FILTER: Alpha(Opacity = 65); opacity: .65
}
.ui-widget-shadow {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: url(images/ui-bg_flat_35_f0f0f0_40x100.png) #f0f0f0 repeat-x 50% 50%; FILTER: Alpha(Opacity = 30); PADDING-BOTTOM: 8px; MARGIN: -8px 0px 0px -8px; PADDING-TOP: 8px; opacity: .30; moz-border-radius: 8px; webkit-border-radius: 8px
}
.ui-group {
	BORDER-RIGHT: #327e04 1px solid; BORDER-TOP: #327e04 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(images/ui-bg_highlight-soft_25_5A9D1A_1x100.png) #5a9d1a repeat-x 50% 50%; BORDER-LEFT: #327e04 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #327e04 1px solid; outline: none
}
