BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.fg-menu-container {
	PADDING-RIGHT: 0.4em; PADDING-LEFT: 0.4em; LEFT: -999px; PADDING-BOTTOM: 0.4em; OVERFLOW: hidden; PADDING-TOP: 0.4em; POSITION: absolute; TOP: 0px
}
.fg-menu-flyout {
	OVERFLOW: visible
}
.fg-menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.fg-menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.fg-menu {
	POSITION: relative
}
.fg-menu-flyout .fg-menu {
	POSITION: static
}
.fg-menu UL {
	POSITION: absolute; TOP: 0px
}
.fg-menu UL UL {
	TOP: -1px
}
.fg-menu-ipod .fg-menu-content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.fg-menu-ipod .fg-menu-content UL {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.fg-menu-scroll {
	OVERFLOW-X: hidden; OVERFLOW: scroll
}
.fg-menu UL.fg-menu-scroll {
	OVERFLOW-X: hidden; OVERFLOW: scroll
}
.fg-menu LI {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.fg-menu LI LI {
	FONT-SIZE: 1em
}
.fg-menu-flyout UL UL {
	PADDING-RIGHT: 0.4em; PADDING-LEFT: 0.4em; PADDING-BOTTOM: 0.4em; PADDING-TOP: 0.4em
}
.fg-menu-flyout LI {
	POSITION: relative
}
.fg-menu-scroll {
	OVERFLOW-X: hidden; OVERFLOW: scroll
}
.fg-menu-breadcrumb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.fg-menu-footer {
	PADDING-RIGHT: 0.4em; MARGIN-TOP: 0.4em; PADDING-LEFT: 0.4em; PADDING-BOTTOM: 0.4em; PADDING-TOP: 0.4em
}
.fg-menu-header {
	PADDING-RIGHT: 0.4em; PADDING-LEFT: 0.4em; MARGIN-BOTTOM: 0.4em; PADDING-BOTTOM: 0.4em; PADDING-TOP: 0.4em
}
.fg-menu-breadcrumb LI {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FONT-SIZE: 0.9em; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; opacity: .7
}
.fg-menu-breadcrumb LI.fg-menu-prev-list {
	CLEAR: left; FLOAT: none; opacity: 1
}
.fg-menu-breadcrumb LI.fg-menu-current-crumb {
	CLEAR: left; FLOAT: none; opacity: 1
}
.fg-menu-breadcrumb LI.fg-menu-current-crumb {
	PADDING-TOP: 0.2em
}
.fg-menu-breadcrumb A {
	FLOAT: left
}
.fg-menu-breadcrumb SPAN {
	FLOAT: left
}
.fg-menu-footer A:link {
	FLOAT: left; WIDTH: 100%; TEXT-DECORATION: none
}
.fg-menu-footer A:visited {
	FLOAT: left; WIDTH: 100%; TEXT-DECORATION: none
}
.fg-menu-footer A:hover {
	
}
.fg-menu-footer A:active {
	
}
.fg-menu-footer A SPAN {
	FLOAT: left; CURSOR: pointer
}
.fg-menu-breadcrumb .fg-menu-prev-list A:link {
	BACKGROUND-IMAGE: none; TEXT-DECORATION: none
}
.fg-menu-breadcrumb .fg-menu-prev-list A:visited {
	BACKGROUND-IMAGE: none; TEXT-DECORATION: none
}
.fg-menu-breadcrumb .fg-menu-prev-list A:hover {
	BACKGROUND-IMAGE: none; TEXT-DECORATION: none
}
.fg-menu-breadcrumb .fg-menu-prev-list A:active {
	BACKGROUND-IMAGE: none; TEXT-DECORATION: none
}
.fg-menu-breadcrumb .fg-menu-prev-list A {
	PADDING-RIGHT: 0.4em; FLOAT: left
}
.fg-menu-breadcrumb .fg-menu-prev-list A .ui-icon {
	FLOAT: left
}
.fg-menu-breadcrumb .fg-menu-current-crumb A:link {
	DISPLAY: block; FONT-SIZE: 1.3em; BACKGROUND-IMAGE: none; TEXT-DECORATION: none
}
.fg-menu-breadcrumb .fg-menu-current-crumb A:visited {
	DISPLAY: block; FONT-SIZE: 1.3em; BACKGROUND-IMAGE: none; TEXT-DECORATION: none
}
.fg-menu-breadcrumb .fg-menu-current-crumb A:hover {
	DISPLAY: block; FONT-SIZE: 1.3em; BACKGROUND-IMAGE: none; TEXT-DECORATION: none
}
.fg-menu-breadcrumb .fg-menu-current-crumb A:active {
	DISPLAY: block; FONT-SIZE: 1.3em; BACKGROUND-IMAGE: none; TEXT-DECORATION: none
}
.fg-menu A:link {
	PADDING-RIGHT: 3%; PADDING-LEFT: 3%; FLOAT: left; PADDING-BOTTOM: 0.3em; WIDTH: 92%; PADDING-TOP: 0.3em; TEXT-DECORATION: none; outline: 0
}
.fg-menu A:visited {
	PADDING-RIGHT: 3%; PADDING-LEFT: 3%; FLOAT: left; PADDING-BOTTOM: 0.3em; WIDTH: 92%; PADDING-TOP: 0.3em; TEXT-DECORATION: none; outline: 0
}
.fg-menu A:hover {
	PADDING-RIGHT: 3%; PADDING-LEFT: 3%; FLOAT: left; PADDING-BOTTOM: 0.3em; WIDTH: 92%; PADDING-TOP: 0.3em; TEXT-DECORATION: none; outline: 0
}
.fg-menu A:active {
	PADDING-RIGHT: 3%; PADDING-LEFT: 3%; FLOAT: left; PADDING-BOTTOM: 0.3em; WIDTH: 92%; PADDING-TOP: 0.3em; TEXT-DECORATION: none; outline: 0
}
.fg-menu A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 1px; BORDER-RIGHT-WIDTH: 0px
}
.fg-menu A.ui-state-default {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 1px
}
.fg-menu A.ui-state-hover {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 1px
}
.fg-menu A.ui-state-active {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 1px
}
.fg-menu A SPAN {
	DISPLAY: block; FLOAT: left; CURSOR: pointer
}
.fg-menu-indicator SPAN {
	FLOAT: left
}
.fg-menu-indicator SPAN.ui-icon {
	FLOAT: right
}
.ui-widget-content {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.fg-menu-content UL.ui-widget-content {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.fg-menu-has-icons A:link {
	PADDING-LEFT: 20px
}
.fg-menu-has-icons A:visited {
	PADDING-LEFT: 20px
}
.fg-menu-has-icons A:hover {
	PADDING-LEFT: 20px
}
.fg-menu-has-icons A:active {
	PADDING-LEFT: 20px
}
.fg-menu .horizontal-divider HR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0.6em; PADDING-TOP: 0px
}
.fg-menu .horizontal-divider SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0.6em; PADDING-TOP: 0px
}
.fg-menu .horizontal-divider HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px
}
.fg-menu .horizontal-divider SPAN {
	PADDING-LEFT: 0.2em; FONT-SIZE: 0.9em; TEXT-TRANSFORM: uppercase
}
.ui-line {
	FONT-SIZE: 0px; BACKGROUND: url(images/m_splitLine.gif) repeat-x center 50%; MARGIN: 0px 2px; HEIGHT: 2px
}
.item-icon {
	WIDTH: 16px; HEIGHT: 16px
}
.item-disabled {
	COLOR: #999999
}
.user {
	BACKGROUND-IMAGE: url(images/user.gif)! important
}
