<html>
<head>
<title>Map Model</title>
</head>
<body>
<h1>Map Model</h1>
<p>
Even value is yellow.
Odd value is green.
</p>
<table border=1>
<tr>

<td bgcolor="green">1001</td>
<td bgcolor="yellow">1002</td>


<td bgcolor="green">1003</td>
<td bgcolor="yellow">1004</td>


<td bgcolor="green">1005</td>

</tr>
<tr>
<td bgcolor="yellow">1006</td>


<td bgcolor="green">1007</td>
<td bgcolor="yellow">1008</td>


<td bgcolor="green">1009</td>
<td bgcolor="yellow">1010</td>


</tr>
<tr>

<td bgcolor="green">1011</td>
<td bgcolor="yellow">1012</td>


<td bgcolor="green">1013</td>
<td bgcolor="yellow">1014</td>


<td bgcolor="green">1015</td>

</tr>
<tr>
<td bgcolor="yellow">1016</td>


<td bgcolor="green">1017</td>
<td bgcolor="yellow">1018</td>


<td bgcolor="green">1019</td>
<td bgcolor="yellow">1020</td>


</tr>
<tr>

<td bgcolor="green">1021</td>
<td bgcolor="yellow">1022</td>


<td bgcolor="green">1023</td>
<td bgcolor="yellow">1024</td>


<td bgcolor="green">1025</td>

</tr>
</table>

</body>
</html>

