<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="mms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net-net-1.2"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="mms.Properties.Settings.dbConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=db.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <applicationSettings>
    <mms.Properties.Settings>
      <setting name="rpcURL" serializeAs="String">
        <value>http://221.179.219.246/eepwww/xmlrpc</value>
      </setting>
      <setting name="Customer_id" serializeAs="String">
        <value>944</value>
      </setting>
      <setting name="Corp_Account" serializeAs="String">
        <value>2002000101238</value>
      </setting>
      <setting name="Token" serializeAs="String">
        <value>721d5a18-f089-4fb4-bacf-416f2ab26eea</value>
      </setting>
      <setting name="FTPRemoteIP" serializeAs="String">
        <value>221.179.214.203</value>
      </setting>
      <setting name="Incoming" serializeAs="String">
        <value>/EC/2002000101238/Incoming/</value>
      </setting>
      <setting name="FTPUser" serializeAs="String">
        <value>2002000101238</value>
      </setting>
      <setting name="FTPPassword" serializeAs="String">
        <value>^YH7uj8ik</value>
      </setting>
      <setting name="SMSAgreement_id" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MMSAgreement_id" serializeAs="String">
        <value>1004</value>
      </setting>
      <setting name="Outgoing" serializeAs="String">
        <value>/EC/2002000101238/Outgoing/</value>
      </setting>
      <setting name="remotePort" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="chinaMobileNumber" serializeAs="String">
        <value>134;135;136;137;138;139;158;150;151;152;157;159;188;187;189;</value>
      </setting>
      <setting name="ECCode" serializeAs="String">
        <value>EC2002000101238</value>
      </setting>
      <setting name="ProductCode" serializeAs="String">
        <value>2990020801</value>
      </setting>
      <setting name="ECPrdCode" serializeAs="String">
        <value>EC10650222001018</value>
      </setting>
    </mms.Properties.Settings>

    <log4net>
      <root>
        <level value="ALL" />
        <appender-ref ref="LogFileAppender" />
      </root>

      <appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
        <param name="File" value="log-file.txt" />
        <param name="AppendToFile" value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="[%utcdate{yyyy-MM-dd HH:mm:ss.ff}] [%thread] [%-5level] [%logger] - %message%newline" />
        </layout>
      </appender>

      <logger name="log4net">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
      
    </log4net>

  </applicationSettings>
</configuration>