/************************  同望科技css控制文件 *************************/


/**-------------------------------公共部分---**/

/*统一控制全局的字体和内容水平对齐方式，所有body的下级节点都应用这些属性，如下级节点需要不同的字体和对齐方式，则单独修改*/
body,table,td,th{
	font-family: Arial,宋体,微软雅黑,helvertica,sans-serif;
	font-weight:normal;
	text-align:center;
	font-size:12px;
}
	
/*去掉所有图片的默认1px的边框属性*/
img{
	border:0px;
}

/*页面滚动条颜色控制*/
body{
	scrollbar-face-color:#EBF1F9;
	scrollbar-shadow-color: #91B7E8;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #F0F5FB;
	scrollbar-darkshadow-color: #53749C;
	scrollbar-track-color: #D0E3F9;
	scrollbar-arrow-color: #53749C;
	margin:0px;
	padding:0px;
	background-image: url(../images/view_main_bg.gif);
}

/**-------------------------------标题部分---**/

/*标题的属性控制以及外层控制*/
.tab_title{
	background:url(../images/tab_bg.gif) repeat 0 0;
	width: auto;
	height:34px;
	margin:0px;
	padding:5px 10px 0px 15px;
}

/*标题的控制*/	
.tab_title_text{
	background:url(../images/tab_icon_title.gif) no-repeat 0 0;
	float:left;
	margin:0px;
	padding:5px 0px 0px 30px;
	font-size:12px;
	font-weight:bold;
	color:#3F5393;
	height:20px;
}

/*按钮*/
.tab_btn_back{
	background:url(../images/tab_btn_bg.gif);
	border:1px solid;
	cursor: hand;
	height:20px;
	font-size: 12px;
	color: #000;
	border-top-color: #D4D3D3;
	border-right-color: #B4B4B4;
	border-bottom-color: #B4B4B4;
	border-left-color: #D4D3D3;
	float:right;
}

/**-------------------------------内容区域---**/
/*内容区域外框*/
.tab_main{
	margin:0px 5px;
	padding:0px;
	height:390px;
	width:auto;
}

/**-------------------------------TAB区域选中的TAB项控制---**/

/*TAB外框控制*/
.tab_options{
	margin:0px;
	padding:0px;
	width:100%;
	height:27px;;
}

/*TAB-UL属性控制*/
.tab_ul{
	list-style:none;
	display:inline;
	float:left;
	margin:0px;
	padding:0px;
}

/*TAB-UL-LI属性控制*/
.tab_li{
	float:left;
	margin:0px;
	padding:0px;
	height:27px;
	width:159px;
}

/*TAB左侧图片属性控制*/
.tab_li_left{
	background:url(../images/tab_bg_left.gif);
	width:3px;
	height:27px;
	padding:0px;
	margin:0px;
	float:left;
}

/*TAB中间图片属性控制*/
.tab_li_center{
	background:url(../images/tab_bg_center.gif);
	width:153px;
	height:27px;
	padding:0px;
	margin:0px;
	text-align:center;
	line-height:27px;
	float:left;
}

/*TAB右侧图片属性控制*/
.tab_li_right{
	background:url(../images/tab_bg_right.gif);
	width:3px;
	height:27px;
	padding:0px;
	margin:0px;
	float:left;
}

/* tab页链接默认属性控制 */
A.c1:link,A.c1:visited,A.c1:visited {
   font-size:12px;
   text-decoration:none;
   font-weight:normal;
   color:#0240C1;
}

/**-------------------------------TAB区域未选中的TAB项控制---**/

/*TAB左侧图片属性控制*/
.tab_left{
	background:url(../images/tab_li_left.gif);
	width:7px;
	height:27px;
	padding:0px;
	margin:0px;
	float:left;
}

/*TAB中间图片属性控制*/
.tab_center{
	background:url(../images/tab_li_center.gif);
	width:145px;
	height:27px;
	padding:0px;
	margin:0px;
	text-align:center;
	line-height:27px;
	float:left;
}

/*TAB右侧图片属性控制*/
.tab_right{
	background:url(../images/tab_li_right.gif);
	width:7px;
	height:27px;
	padding:0px;
	margin:0px;
	float:left;
}

/* tab页链接默认属性控制 */
A.d1:link,A.d1:visited {
   font-size:12px;
   text-decoration:none;
   font-weight:normal;
   color:#000;
}
A.d1:hover {
   font-size:12px;
   text-decoration:none;
   font-weight:normal;
   color:#0240C1;
}

/**----------------------------------------**/
.tab_line{
	background:url(../images/tab_line_center.gif) repeat-x;
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
	margin:0px;
	padding:0px;
	width:99%;
	height:5px;
	float:left;
	font-size:0px;
}
	
/**------------------内容区域表格属性------------**/

/**/
.tab_table{
	margin:0px;
	padding:0px;
	float:left;
	width:99.2%;
	height:auto;
}

/*页面主体内容*/
.tab_main_table{
	margin:0px;
	padding:1px;
	width:100%;
	border:1px solid #CAD0E4;
	border-collapse:collapse;
	white-space:nowrap;
}

/*页面数据列的表格属性控制*/
.tab_table_header{
	margin:0px;
	padding:2px;
	height:21px;
	background: url(../images/tab_table_title.gif);
    font-size:12px;
    color:#000;
}

/*页面数据列的表格属性控制*/
.tab_main_table td,.tab_main_table thead th,.tab_main_table tfoot th{
   padding:2px;
   border:1px solid #E9EBF5;
   white-space:nowrap;
}

/*页面表格奇、偶行及鼠标悬停行的背景颜色属性控制*/
.tab_tr_even,.tab_tr_odd{
	height:18px;
	font-size:12px;
	color:#4c4c4c;
}    
.tab_tr_even{background-color:#fff;}
.tab_tr_odd{background-color:#F9FAFC;}

/*页面特殊的左对齐属性控制*/
.tab_td_align_left{text-align:left;}

/**------------------------------------------------------**/
/*页脚的外层控制*/
.tab_foot_wraper{
	margin:5px 0px 0px 0px; 
	height:25px;
	width:99.2%;
	background:url(../images/tab_pages_bg.gif);
	border:1px solid #CAD0E4;
	float:left;
}
/*页脚翻页部分的外层控制*/
.tab_menu{
	list-style:none;
	display:inline;
	float:left;
	margin:0px 0px 0px 10px;
	padding:0px;
	height:25px;
	width:500px;
}
/*页脚翻页部分单个元素控制*/
.tab_menu li{
	display: inline;
	margin:0px 3px 0px 0px;
	width:auto;
	float:left;
	height:25px;
	line-height:27px;
}
/*页脚翻页部分输入页码元素控制*/
.tab_menu input{
	margin:3px auto;
	height:auto;
}
/*页脚翻页部分每页显示多少条元素控制*/
.tab_menu select{
	margin:2px auto;
	height:auto;
}
/**--------------------------------------**/
/* 列表部分链接默认属性控制 */
A.a1:link,A.a1:visited {
   font-size:12px;
   text-decoration:none;
   font-weight:normal;
   color:#496BDD;
   }
A.a1:hover {
   font-size:12px;
   text-decoration:underline;
   font-weight:normal;
   color:#6778B1;
}
   
/**-------------------------------字体部分---**/

/* 字体默认属性控制*/
.font{   
   padding-left:0px;
   font-size:12px;
   font-weight:normal;
   color:#000;
}

/**-------------------------------文本域部分---**/

/*页面中文本框默认属性控制*/
.txt{
	border:1px solid #C0C2CF;
	background-image: url(../images/main_txt_bg.GIF);
	font-size: 12px;
	font-family: Arial,宋体,微软雅黑,helvertica,sans-serif;
	height:15px;
}