#content {
	MARGIN: 1em
	font-size:12px;
	margin:0;
	
}
#content P {
	WIDTH: 100%;
}

TABLE {
	
	BORDER-COLLAPSE: collapse; TABLE-LAYOUT: fixed;
}
TD {
  
	BORDER-BOTTOM: #E5EFF8 1px solid; BORDER-LEFT: #E5EFF8 1px solid;   BORDER-TOP: #E5EFF8 1px solid; BORDER-RIGHT: #E5EFF8 1px solid;
}
TH {
	BORDER-BOTTOM: #ccc 1px solid;
	BORDER-TOP: #fff 1px solid;
	PADDING-BOTTOM: 0.2em;   PADDING-TOP: 0.2em;
	font-weight:normal;
	font-family:verdana;font-size:9pt;
}
TBODY {
	font-weight:normal;
	font-family:verdana;font-size:9pt;
}
THEAD {
	BACKGROUND-COLOR: #DEEAFB;
	
}
TFOOT {
	BACKGROUND-COLOR: #DEEAFB;color:#FFF;
}
TFOOT tr{
	line-height:16px;
	BORDER-top: #ccc 1px solid;
}
TFOOT tr td {
	BORDER 0;
	BORDER-top: #ccc 1px solid;
}
TFOOT tr td a{
	TEXT-DECORATION:none;
	font-size:12px;
}

TR.rowodd {
	BACKGROUND-COLOR:#FFFFFF;
}
TR.roweven {
	BACKGROUND-COLOR: #F1F4F8;
}


.sortcol {
	PADDING-RIGHT: 20px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right center; CURSOR: pointer
}
.sortasc {
	BACKGROUND-IMAGE: url(up.gif); BACKGROUND-COLOR: #ddffac
}
.sortdesc {
	BACKGROUND-IMAGE: url(down.gif); BACKGROUND-COLOR: #b9ddff
}
.nosort {
	CURSOR: default
}

TH.resize-handle-active {
	CURSOR: e-resize
}
DIV.resize-handle {
	POSITION: absolute; WIDTH: 2px; TOP: 0px; CURSOR: e-resize; BORDER-RIGHT: #1e90ff 1px dashed; LEFT: 0px
}


DIV.yahoo2 {
 PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 1px; FONT-FAMILY: Tahoma,Helvetica,sans-serif; TEXT-ALIGN: right;
}
DIV.yahoo2 A {
 BORDER-RIGHT: #ccdbe4 1px solid; PADDING-RIGHT: 8px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #ccdbe4 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccdbe4 1px solid; COLOR: #0061de; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccdbe4 1px solid; TEXT-DECORATION: none
}
DIV.yahoo2 A:hover {
 BORDER-RIGHT: #2b55af 1px solid; BORDER-TOP: #2b55af 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #2b55af 1px solid; COLOR: #fff; BORDER-BOTTOM: #2b55af 1px solid; BACKGROUND-COLOR: #3666d4
}
DIV.yahoo2 A:active {
 BORDER-RIGHT: #2b55af 1px solid; BORDER-TOP: #2b55af 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #2b55af 1px solid; COLOR: #fff; BORDER-BOTTOM: #2b55af 1px solid; BACKGROUND-COLOR: #3666d4
}
DIV.yahoo2 SPAN.current {
 PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #000; MARGIN-RIGHT: 3px; PADDING-TOP: 2px
}
DIV.yahoo2 SPAN.disabled {
 DISPLAY: none
}
DIV.yahoo2 A.next {
 BORDER-RIGHT: #ccdbe4 2px solid; BORDER-TOP: #ccdbe4 2px solid; MARGIN: 0px 0px 0px 10px; BORDER-LEFT: #ccdbe4 2px solid; BORDER-BOTTOM: #ccdbe4 2px solid
}
DIV.yahoo2 A.next:hover {
 BORDER-RIGHT: #2b55af 2px solid; BORDER-TOP: #2b55af 2px solid; BORDER-LEFT: #2b55af 2px solid; BORDER-BOTTOM: #2b55af 2px solid
}
DIV.yahoo2 A.prev {
 BORDER-RIGHT: #ccdbe4 2px solid; BORDER-TOP: #ccdbe4 2px solid; MARGIN: 0px 10px 0px 0px; BORDER-LEFT: #ccdbe4 2px solid; BORDER-BOTTOM: #ccdbe4 2px solid
}
DIV.yahoo2 A.prev:hover {
 BORDER-RIGHT: #2b55af 2px solid; BORDER-TOP: #2b55af 2px solid; BORDER-LEFT: #2b55af 2px solid; BORDER-BOTTOM: #2b55af 2px solid
}
