<html>
	<head>
		<title></title>
		<link id="css" rel="stylesheet" type="text/css">
			<meta id="meta" http-equiv="Content-Type">
			<script id="errorConst" language="javascript"></script>
			<script language="javascript">
			var a=window.dialogArguments;
			var language="zh-CN";
			if (a!=null)
			{
				document.title = a.title+document.title;
				language=a.language;
				document.all("errorConst").src="../const/"+language+"/const_error_handle.js";
				document.all("css").href="../style/"+language+"/BSN.css";
				document.all("meta").content="text/html;charset="+a.charset;
			}				

			function init()
			{
				errorLabel.innerText = "\n"+a.content_name;
			}
			</script>
</head>
<body onload="init();" class="body_iframe">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>  
	<td id="errorLabel" class="font_pop_error">&nbsp;</td>
  </tr>
</table>
</body>
</html>
