/************************  同望科技css控制文件 *************************/

/**-------------------------------公共部分---**/

/*统一控制全局的字体和内容水平对齐方式，所有body、table的下级节点都应用这些属性，如下级节点需要不同的字体和对齐方式，则单独修改*/
body,table,td,th{
   FONT-SIZE: 12px; FONT-FAMILY: Arial,宋体,微软雅黑,helvertica,sans-serif; 
   text-align:center;
   }
	
/*去掉所有图片的默认1px的边框属性控制*/
img{
   border:0px;
   }

   
/* 页面背景颜色属性控制*/
body {
	scrollbar-face-color: #F5F6F6;
	scrollbar-shadow-color: #E9EEF3;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #F6F6F7;
	scrollbar-darkshadow-color: #AEAFB0;
	scrollbar-track-color: #F6F7F7;
	scrollbar-arrow-color: #C3C4C4;
}



/**-------------------------------password部分(重构)---**/

/* 修改密码标题字体加粗属性控制 */
.password-bt-font {FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #353686; margin:0;}

/* 修改密码输入框属性控制 */
.password-txt{
	border:1px solid #C0C2CF;
	background-image: url(../images/common/txt_bg.GIF);
	font-size: 12px;
	font-family: Arial,宋体,微软雅黑,helvertica,sans-serif;
	height:20px;
   }
/* 背景色 */
.password_body{background-color: #b3bac9; margin:0;}
/* 外框大小居中 */
.password_wrap {
	width:438px;
	height:290px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-145px 0 0 -219px;
}
.password_content {
	overflow:hidden;
	height:187px;
	background:url(../images/password_bg_02.gif);
}
/* 提示文字项 */
.password_content .c {
	margin:20px 25px;
	text-align:left;
}
.password_content ul {
	padding:0;
	margin:0;
	list-style:none;
}
.password_content li {
	background:url(../images/password_ico1.gif) no-repeat 0 5px;
	line-height:20px;
	padding: 0 9px;
	color:#353686;
}
/* 输入新密码框 */
.password_content .new {
	margin:8px 0 0 50px;
}
.password_content .newok {
	margin:7px 0 0 26px;
}
.password_content .ok {
	margin:15px 0 0 98px;
}


/**----------------------------修改完成----------------------------**/

