<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="css/view.css"/>
</head>

<body>
<div class="view_title">
	<span class="view_title_text">项目明细</span>
</div>
<div class="view_frame">
	<div class="view_Within">
		<div class="view_form_left">
			<div class="view_form_text">合同名称：<b>[*]</b></div>
			<div class="view_input_left">中交一局高速公路</div>
			<br />
			<br />
			<div class="view_form_text">合同类型：<b>[*]</b></div>
			<div class="view_input_left">方案合同</div>
			<br />
			<br />
			<div class="view_form_text">开始日期：<b>[*]</b></div>
			<div class="view_input_left">2009-01-08</div>
			<br />
			<br />
			<div class="view_form_text">签定日期：<b>[*]</b></div>
			<div class="view_input_left">2009-01-15</div>
			<br />
			<br />
			<div class="view_form_text">辅助部门：</div>
			<div class="view_input_left">项目支持部</div>
			<br />
			<br />
			<div class="view_form_text">合同状态：</div>
			<div class="view_input_left">已签</div>
			<br />
			<br />
			<div class="view_form_text">关联主合同：</div>
			<div class="view_input_left">无</div>
		</div>
		<div class="view_form_right">
			<div class="view_form_text_right">合同编号：<b>[*]</b></div>
			<div class="view_input_right">全部</div>
			<br />
			<br />
			<div class="view_form_text_right">合同金额：<b>[*]</b></div>
			<div class="view_input_right">250000,00</div>
			<br />
			<br />
			<div class="view_form_text_right">结束日期：<b>[*]</b></div>
			<div class="view_input_right">2010-5-08</div>
			<br />
			<br />
			<div class="view_form_text_right">主管部门：<b>[*]</b></div>
			<div class="view_input_right">业主方案事业部</div>
			<br />
			<br />
			<div class="view_form_text_right">所属地区：<b>[*]</b></div>
			<div class="view_input_right">北京</div>
			<br />
			<br />
			<div class="view_form_text_right">经办人：<b>[*]</b></div>
			<div class="view_input_right">胡木生</div>
		</div>
		<div class="view_text">
			<br />
			<div class="view_form_text">操作用户：<b>[*]</b></div>
			<div class="view_input_left">陈明，郭凯，陈超，旷日辉，何春，魏朝岱 </div>
			<br />
			<br />
			<div class="view_form_text">查看用户：</div>
			<div class="view_input_left">陈明，郭凯，陈超，旷日辉，何春，魏朝岱 </div>
			<br />
			<br />
			<div class="view_form_text">管理模式：</div>
			<div class="view_input_left">普通模式</div>
			<br />
			<br />
			<div class="view_form_text">合同简述：<b>[*]</b></div>
			<div class="view_input_left">
			1.属于北京交通局负责的项目，全长400多公里，共有13个路基，12个监理标。<br />
			2.公路建设项目周期信息化管理。<br />
			3.有机会上运营的iPMS和OA。
		  </div>
		</div>
		<div class="view_head"><img src="images/view_-.gif" width="10" height="10"/>　签定单位</div>
		<div class="view_table_one">
			<table border="0" cellpadding="0" cellspacing="1" class="view_table">
				<thead>
				<tr class="view_table_header">
				<th width="4%">序号</th>
				<th width="6%">流程图</th>
				<th width="29%">项目周期管理名称<br /></th>
				<th width="13%">预可行性研究</th>
				<th width="13%">环境影响评价</th>
				<th width="13%">地质灾害评估</th>
				<th width="11%">矿产资源评估</th>
				<th width="11%">其它专题研究</th>
				</tr>
				</thead>
				<tbody>
				<tr>
				<td height="40" colspan="8" class="view_tr_even">您好，您的查询条件没有数据显示.</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="view_head"><img src="images/view_-.gif" width="10" height="10"/>　扩展属性</div>
		<div class="view_table_one">
			<table border="0" cellpadding="0" cellspacing="1" class="view_table">
				<thead>
				<tr class="view_table_header">
				<th width="4%">序号</th>
				<th width="6%">流程图</th>
				<th width="29%">项目周期管理名称<br /></th>
				<th width="13%">预可行性研究</th>
				<th width="13%">环境影响评价</th>
				<th width="13%">地质灾害评估</th>
				<th width="11%">矿产资源评估</th>
				<th width="11%">其它专题研究</th>
				</tr>
				</thead>
				<tbody>
				<tr>
				<td height="40" colspan="8" class="view_tr_even">您好，您的查询条件没有数据显示.</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="view_btn">
		<input name="Submit22" type="submit" class="view_btn_a" value=" 保存 " />
		<input name="Submit23" type="submit" class="view_btn_a" value=" 取消 " />
		<input name="Submit24" type="submit" class="view_btn_a" value=" 返回 " />
		</div>
	</div>
</div>
</body>
</html>
